@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/*@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@700&display=swap');*/

@import "flatpickr/dist/flatpickr";

@layer base {
    /* arabic */
    @font-face {
        font-family: 'Tajawal';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/tajawal/v4/Iurf6YBj_oCad4k1l4qkHrRpiYlJ.woff2) format('woff2');
        unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
    }
    /* latin */
    @font-face {
        font-family: 'Tajawal';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/tajawal/v4/Iurf6YBj_oCad4k1l4qkHrFpiQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    h1 {
        color:#2CCEC2;
        @apply text-2xl  font-tajawal;
    }
    h2 {
        @apply text-xl;
    }

    h1,h2,h3,p,a,label,div .btn {
        font-family: 'Tajawal', sans-serif;

    }
    table,span,.table{
        font-family: 'Tajawal', sans-serif;
    }
    h2,p,a,label{
        @apply text-gray-600;
    }
}
body{
    text-align: start !important;
}
svg{
    display: inline-block;
}
div#nav-content {
    justify-content: end;

}
input{
    color: #0f0f0f !important;
}
.select{
    color:#0f0f0f !important;
}
.navbar-expand-lg{
    /*background: #0caef8;*/
    background: white;
}
.links-color{
    /*background-color: white;*/
}
/*.hover-color{*/
/*background-color: aliceblue;*/
/*}*/
.links
{
    @apply  lg:px-5 py-3 flex items-center text-gray-600 uppercase font-bold  hover:opacity-75;
}
.links:focus{
    /*color: #2563eb;*/
    color: #2CCEC2;
    @apply  outline-none  ring-offset-2 rounded-lg;
}
.links:hover{
    color: #29a095;
    @apply  opacity-100   rounded-lg;
}



.btn {
    /*color: #eb9d00;*/
    background: #2CCEC2;
    border-color:#2CCEC2;
    /*@apply rounded-2xl;*/
}
.btn:hover {
    /*color: #eb9d00;*/
    background: #29a095;
    border-color:#29a095;
    /*@apply btn-primary;*/
}


.btn-delete{
    background: #eb2700;
    border:#eb2700;
    color:white;

    /*@apply btn btn-secondary;*/
}
.btn-delete:hover {
    background: #a62600;

}
.btn-add{
    background: #8e9290;
    border: #8e9290;
}
.btn-add:hover{
    background: #636765;
}

.btn-cancel{
    @apply btn btn-outline btn-secondary;
}
.btn-error{
    @apply btn btn-error;
}
.select-bordered {
    --tw-border-opacity: 1;
}

.select{
    @apply mt-1 select-bordered;
}

.input-bordered{
    --tw-border-opacity: 0.2;
}

.input{
    width: 100%;
    --tw-border-opacity: 0.2;
    @apply input-bordered mt-1 border-opacity-0;
}

/*.side-items{*/
/*font-weight: 500;*/
/*@apply flex items-center mt-2 mx-3 py-2 px-8 bg-base-200  font-tajawal border-white text-primary  rounded-lg*/
/*}*/

/*.side-items:hover {*/
/*--tw-border-opacity: 0.2;*/
/*@apply bg-base-300 text-primary-focus;*/
/*}*/
/*.side-items:active{*/
/*@apply  bg-base-300;*/
/*}*/
.side-items{
    color: #1d6076;
    @apply flex items-center mt-2 py-2 px-2 border-l-4 border-white
}

.side-items.active{
    /*@apply flex items-center mt-1 py-2 px-8 bg-gray-200 text-primary-focus border-l-4 border-gray-700*/
    color: #29a095;
    border-color: #29a095;
    @apply bg-blue-100  ;
}
.side-items:hover{
    color: #29a095;
    border-color: #29a095;
    @apply bg-blue-100 ;
}

.side-text{
    @apply px-1;
}
.row {
    max-width: 80%;
    margin: 20px auto;
}


/* INVOICE*/
.qr{
    margin-left: 550px;
    margin-right: 550px;
}

/*=======================*/
.addColumn{
    padding-right: 150px;
    padding-left: 150px;
}

/*.card{*/
/*--tw-border-opacity: 0.1 !important;*/
/*padding:20px;*/
/*border-color: #1d6076;*/
/*!*@apply border-gray-600 border-2 rounded-xl*!*/
/*@apply lg:m-2 mb-3 px-10*/
/*}*/
/*.card:hover{*/
/*background: rgba(29, 96, 118, 0.56);*/

/*}*/
.text-color{
    color:#1d6076;
}
.card-text{
    text-align: end;
    color:#1d6076;
}
.card{
    @apply bg-white text-white overflow-hidden p-5 no-underline hover:no-underline shadow-lg rounded-lg;
}
.bg-card-1{
    color: #2CCEC2;
    opacity: 80%;
}
.bg-card-2{
    color: #c22cce;
    opacity: 80%;

}
.bg-card-3{
    color: #52CAF5;
    opacity: 80%;
}
.bg-card-4{
    color: #38ce2c;
    opacity: 80%;
}