@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@700&display=swap');


@layer base {
    h1 {
        @apply text-2xl font-serif;
    }
    h2 {
        @apply text-xl;
    }
}



.btn {
    @apply btn-primary;
}

.btn-cancel{
    @apply btn btn-outline btn-secondary;
}
.select-bordered {
    --tw-border-opacity: 1;
}

.select{
    @apply mt-1 select-bordered;
}

.input-bordered{
    --tw-border-opacity: 0.2;
}

.input{
    width: 100%;
    --tw-border-opacity: 0.2;
    @apply input-bordered mt-1 border-opacity-0;
}

.side-items{
    font-weight: 500;
    @apply flex items-center mt-2 mx-3 py-2 px-8 bg-base-200  border-white text-accent  rounded-lg
}

.side-items:hover {
    --tw-border-opacity: 0.2;
    @apply bg-base-300 text-accent-focus ;
}
.side-items:active{
    @apply  bg-base-300;
}


